{{ $styles := resources.Get "code.css" | minify }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">
<style>
    /* heading links can just float nearby */
    .heading-link {
        float: right;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
    }

    /* hide heading links unless hovered over */
    @media (pointer: fine) {
        .heading-link {
            visibility: hidden;
        }

        h1:hover .heading-link,
        h2:hover .heading-link,
        h3:hover .heading-link,
        h4:hover .heading-link,
        h5:hover .heading-link,
        h6:hover .heading-link {
            visibility: visible;
        }
    }
</style>
