{{ $file := .Get "source"  }}

{{ with .Page.Resources.Get $file }}
  {{ with . | transform.Unmarshal }}
    {{ with index . "data" }}
      {{ with index . 0 }}
        <p>
          {{ $t := time.AsTime (index . "date") }}
          <b>Start date:</b> {{ $t.Format "2006-01-02" }}<br>
          <b>Starting scale weight:</b> {{ index . "scale_weight_lb" }} lbs ({{ index . "scale_weight_kg" }} kg)
        </p>
      {{ end }}
      {{ range last 1 . }}
        <p>
          {{ $t := time.AsTime (index . "date") }}
          <b>Latest update:</b> {{ $t.Format "2006-01-02" }}<br>
          <b>Latest trend weight:</b> {{ index . "trend_weight_lb" }} lbs ({{ index . "trend_weight_kg" }} kg)
        </p>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
